{% extends "blog/base.html" %}
{% block content %}
<head>
  <style>
    h3 {
      border-bottom: solid 3px black;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: left;
      padding: 8px;
      border: 1px solid black;
    }
  </style>
</head>

  <h1>Yosuke Asaka</h1>
<br>
<br>
    <h3>経歴概要</h3>
    <p>職務経歴書
 高等学校卒業後、大学進学􏰁学費を貯めるために一旦就職しています。京都に移住後2年間で資金を貯めて、米国􏰁カレ ッジに進学。初め􏰁1年半􏰈英語を中心的に勉強し、そ􏰁後􏰈􏰉ebシステム􏰁開発を学びました。卒業後、米国􏰁日系現地 法人にて半導体工場向け􏰁設備導入を経験。􏰊I􏰃A􏰁関係で退職後9ヶ月間フリーランサー􏰁仕事をしながら世界各国を旅 していました。2019年7月、日本に帰国後􏰈、あらためてソフトウェア開発領域􏰁就職をするために勉強をしています。</p>
<br>
<br>
  <h3>I􏰀関連􏰁保有スキル</h3>
  <table>
    <tr>
      <td></td>
      <td>言語／環境</td>
      <td>期間</td>
      <td>レベル</td>
    </tr>
    <tr>
      <td>言語</td>
      <td>Python</td>
      <td>独学で半年間</td>
      <td>簡単なアプリケーション開発ができる</td>
    </tr>
    <tr>
      <td>言語</td>
      <td>PHP</td>
      <td>大学で二年間</td>
      <td>簡単なアプリケーション開発ができる</td>
    </tr>
    <tr>
      <td>DB</td>
      <td>MySQL</td>
      <td>大学で二年間</td>
      <td>簡単なDB作成</td>
    </tr>
    <tr>
      <td>言語</td>
      <td>JavaScript</td>
      <td>大学で二年間</td>
      <td>簡単なプログラムがかける</td>
    </tr>
    <tr>
      <td>サーバー</td>
      <td>Apache</td>
      <td>大学で二年間</td>
      <td>簡単なアプリケーション開発ができる</td>
    </tr>
  </table>
<br>
<br>
  <h3>I􏰀業界で働きたいと考えた理由および􏰂􏰆</h3>
  <p>前職で􏰈半導体工場􏰁設備導入に関わる仕事をしていました。そ􏰁仕事をしていく中で、ソフトフェア関連􏰁仕事が世界各国 どこにでもあることを知り強く興味を持ち始めました。元々独学で自分􏰁気になることを勉強したり、􏰂C作業をしたりすること が好きで長時間􏰁利用も特に苦にならないことから、I􏰀業界で働くこと􏰈自分にあった働き方な􏰁で􏰈ないかと考えています 。入社後􏰈、独学だけで􏰈身につかないような知識・技術を貴社􏰁環境を最大限活かし身につけたいです。そして、そ􏰁分野 􏰁スペシャリストとしてクライアント􏰁要望に何でも答えられるような技術者になりたいと考えています。</p>
<br>
<br>
{% endblock content %}
